.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input{
    border: 1px solid rgb(197, 197, 197);
    max-width: 300px;
    border-radius: 10px;
    min-height: 45px;

}

.bg-dark{
    background-color: black;
}


.bg-white{
    background-color: white;
}